/* Gerarchia: html element < class < id < inline style */

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;  
    font-weight: bold;
}


p{
    font-family: 'Montserrat', sans-serif;  
    color: #8f8f8f;
}

.container-fluid{
    padding: 7% 15%;
}

.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: white;
}

/* ----- Title section -----*/
#title{
    position: relative;   
}

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}


/* ----- Headings ----- */
.big-header{
    font-family: 'Montserrat', sans-serif;  
    font-size: 3.2rem;  
    line-height: 1.5;  
    font-weight: 900;
}

.section-heading{
    font-size: 3rem;  
    line-height: 1.5; 
}

/* Navbar */
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px; /* Lascio una distanza fissa */
}

.nav-link{
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.2rem;  
    font-weight: 300; /* Montserrat light */
}


/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}


/* Title image */
.title-image{
    width: 20%;
    transform: rotate(20deg);
    position: absolute;
    right: 25%;
}

/* Appena si scende sotto screen width di 1028px viene eseguito il codice */
@media (max-width: 1028px){
    .title-image{
        width: 50%;
        transform: rotate(0deg);
        position: static;
        right: 25%;
    }

    #title{
        text-align: center;
    }
}



/* ----- Features sction ----- */
#features{
    background-color: white;
    position: relative;
}

#feature-icon{
    color: #ef8172;
    width: 100%;
    margin-bottom: 5%;
}

#feature-icon:hover{
    color: #ff4c68;
}

.feature-box{
    padding: 4.5%;
}

.feature-title{
    font-size: 1.5rem;
}




/* ------ Testimonials section ------ */ 
#testimonials{
    background-color: #ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%; /* rende l'immagine rotonda */
    margin: 20px;
}


.testimonial-text{
    font-size: 3rem;  
    line-height: 1.5; 
}




/* ------ Press section ----- */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}




/* ----- Price section ----- */
#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

.price-text{  
    font-size: 3rem;  
    line-height: 1.5;  
}


/* ----- Footer section ----- */
#footer{
    background-color: white;
}

.footer-icon{
    margin: 0 10px;
}
